{% extends "base1.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{{super()}}
<div class="page-header">
    <h1>Thank you for logging in!</h1>
</div>
<div>
    <h3>welcome to Mint!</h3>
    <p>
        To confirm your account, please click on the following link:
        {{ url_for("auth.confirm"), token = token, _external = True }}
    </p>
    <div>
        <p>
            <h3>
                sincerely
            </h3>
        </p>
        <p>Mint Admin</p>
    </div>
    <h5>Note: replies this email in 1 hours</h5>
</div>
{% endblock %}